<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Girls can do it{% endblock %}</title>
</head>
<body>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/blog/">Accueil</a></li>
            <li><a href="/blog/nouvel_article/">Publier un article</a></li>
            <li><a href="/blog/Inscription/">S'inscrire</a></li>
            <li><a href="/blog/Connexion/">Se connecter</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; GirlsCanDoIt</footer>
</body>
</html>
